

$primary-color:rgb(0, 0, 0);
$secondary-color:rgb(228, 13, 13);
$text-color:#fff;


body{
    background-color: $primary-color
}








.nav{
    background:rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
    .nav__logo{
        color: $text-color;
    }

}


.nav__ul li a{
    color: #fff;
    &:hover{
        background:rgba(228, 13, 13, 0.7);
        border-radius: 1rem;
        padding: 0.5rem 1rem;
    }
}

.front{
    background-image:linear-gradient(rgba(0,0,0,0.7), #00020593 ) ,url(../images/fondo.jpg);
    background-size: cover;
    .animate__animated{
        color: rgb(185, 179, 179);
    }
    
}

.content1,.contentMid,.contentFinal{
    color: $text-color;
}

.content1 h2,.contentMid h2,.contentFinal h2{
    color: $secondary-color;
}


.footer{
    background-color: $secondary-color;

    .fa-brands{
        color: $primary-color;
        &:hover{
            color:$text-color;
        }
    }


}

@media (min-width:1024px){

    .nav__ul li a{
        
        &:hover{
            
            padding: 1.5rem 1rem;
        }
    }


}