

$primary-color:rgb(0, 0, 0);
$secondary-color:rgb(228, 13, 13);
$text-color:#fff;


body{
    background-color: $primary-color
}



/***********************INDEX************************************************/




.nav{
    background:rgba(0,0,0,0.6);
    border-bottom: 2px solid #fff;
    .nav__logo{
        color: $text-color;
    }

    a{
        color: $text-color;
        .active,&:hover{
            background: $secondary-color;
            transition: 0.5s;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
        }
    }

}




.front{
    background-image:linear-gradient(rgba(0,0,0,0.7), #00020593 ) ,url(../images/fondo.jpg);
    background-size: cover;
    .animate__animated{
        color: rgb(185, 179, 179);
    }
    
}

.content1,.contentMid,.contentFinal{
    color: $text-color;
}

.content1 h2,.contentMid h2,.contentFinal h2{
    color: $secondary-color;
}

/**************FOOTER****************************************/


.footer{
    background-color: $secondary-color;
    .footer__social{
        color: $primary-color;
        a{
            color: inherit;
            border: 1px solid #fff;
        }
    }

    ul{
        li{
            a{
                color:$text-color;
            }
        }
    }

}

.copyright{
    color: $text-color;
}













/***************************MENU****************************************************************/

.front_menu{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), #00020593 ) ,url(../images/menuFondo.jpg);
    background-size: cover;
        h1{
            color: $text-color;
            text-shadow: 6px 6px 6px black;
        }
}

.menu_section{
    color: $text-color;
    h2{
        color: $secondary-color;
    }
}



/*****************************RESERVA************************************************/



.reservaCont{
    background-image:linear-gradient(rgba(0,0,0,0.7), #00020593 ) ,url(../images/fondo2.jpg);
    background-size: cover;
    
    .neon{
        .neon-button{
                background-color: $primary-color;
                color: $secondary-color;
                border:$secondary-color .125em solid;
                &:hover{
                    background: $secondary-color;
                    color:$text-color;
                }
        }

        .neon-button::before{
            background: $secondary-color;
        }

        .neon-button::after{
            box-shadow: 0 0 2em 0.3em $secondary-color;
        }
    }
}


/*****************************SOBRE NOSOTROS************************************************/




.front_nosotros{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), #00020593 ) ,url(../images/fondo.jpg);
    background-size: cover;
}

.nosotros_title{
    h1{
        color: $secondary-color;
    }
}


.nosotros_cont1{
    hr{
        background-color: $secondary-color;
        border-color: $secondary-color;
    }

    p{
        color: $text-color;
    }
}


.nosotros_cont3{
    .nosotros_cont3__title{
        color: white;
    }

    .nosotros_cont3__cont{
        color: $text-color;
    }
}

.nosotros_cont4{
    color: $text-color;
}












@media (min-width:1024px){

    .nav__ul li a{
        
        &:hover{
            
            padding: 0.5rem 0.5rem;
        }
    }


}


