
body{
    font-family: 'Playfair Display', serif;
}





.nav__logo{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    
}


.nav__ul li a{
    font-size: 1rem;
    font-weight: bold;
}

.front__back__text{
    font-size: 2rem;
    color: rgb(255, 255, 255);

    .animate__animated{
        font-size: 1rem;
    }
}

.content1 h2,.contentMid h2,.contentFinal h2{
   text-transform: uppercase;
   font-style: italic;
}



.contentMid__1,.contentMid__2,.contentMid__3,.contentFinal{
    text-align: justify;
}

.contentFinal__1 h2{
    text-align: center;
}


.contentFinal__1 p{
    word-spacing: 2px;
}

/**************************MENU**********************************************/


.front_menu__back{
    font-size: 4rem;
}



.menu_section{
    font-size: 0.8rem;
    text-align: center;
    padding: 0 2rem;
        h2{
            font-style: italic;
            font-size: 1.5rem;
            
        }

        h3{
            padding: 1rem 0;
            padding-top: 2.1rem;
        }
        
        
}





/*******************************************RESERVA************************************************/


.neon{

    .neon-button{
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: none;
        text-shadow:
                    0 0 0.1em hsl(0, 0%, 25% / 0.5),
                    0 0 10em currentColor ;
                &:hover{
                    text-shadow:none;
                }
    }

}


/***********************************SOBRE NOSOTROS*************************************************/

.nosotros_title{
    text-align: center;
}


.nosotros_cont1,.nosotros_cont3,.nosotros_cont4{

    text-align: center;
    p{
        font-size: 0.9rem;
    }
}






















/******************************FOOTER**************************************************************************/

.footer{
    
    .footer__social{
        text-align: center;
        
        
        a{
            font-size: 24px;
            line-height: 38px;
            text-align: center;
        }
    }


    ul{
        
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
            a{
            text-decoration: none;
            }
    }


    .copyright{
        text-align: center;
        font-size: 1rem;
    }


}








/*****************************************************************@MEDIA***********************************/

@media (min-width:640px){

    nav{
        .nav__logo{
            font-size: 3rem;
        }

        .nav__ul{
            list-style: none;
            
            
            a{
                text-decoration: none;
                
            }
        }

    }


    .front{
        .front__back__text{
            font-size: 2.5rem;
            text-align: center;
        }

        .animate__animated{
            font-size: 1.5rem;
        }
    }


    .menu_section{
        h2{
            font-size: 2.5rem;
        }
        h3{
            font-size: 1.5rem;
        }

        p{
            font-size: 1rem;
        }


    }

    .neon{
        .neon-button{
            font-size: 4rem;
        }
    }
/********NOSOTROS*************/
    .nosotros_cont1{
        p{
            font-size: 1.3rem;
            text-align: justify;
        }
    }

    .nosotros_cont3{
        .nosotros_cont3__title{
            font-size: 1.4rem;
        }
    }

    .nosotros_cont3{
        .nosotros_cont3__cont{
            p{
                font-size: 1.3rem;
                text-align: justify;
            }
        }
        
    }

    .nosotros_cont4{
        .nosotros_cont4__title{
            font-size: 1.4rem;
        }
    }






}










@media (min-width:1114px){

    .nav{
        
        .nav__logo{
            font-size: 2rem;
        }

        .nav__ul{
            margin: 0;
            a{
                font-size: 1.4rem;
                

            }


        } 


    }


    .front{
        .front__back__text{
            font-size: 4rem;
            text-align: center;
        }

        .animate__animated{
            font-size: 2.8rem;
        }
    }

    .contentFinal__1{
        .contentFinal__1__text{
            font-size: 1.5rem;
            text-align: center;
        }
    }

}


@media (min-width:1024px){


    /********NOSOTROS********************/

    .nosotros_title{
        font-size: 1.8rem;
    }

    .nosotros_cont1{
        p{
            text-align: center;
            line-height: 2.5rem;
        }
    }
    .nosotros_cont3__cont{
        
        p{
            text-align: justify;
            line-height: 2rem;
        }
    }



}